<% provide(:title, 'About') %>

<h1 class="left">About the <strong>Science Game Center</strong></h1>
<p>
	The goal of the <strong>Science Game Center</strong> is to demonstrate to teachers, scientists, museums, and parents the myriad ways games can be used to improve education in math and science.  The <strong>Science Game Center</strong> will provide a place where users can describe their experiences with math and science games, gather information on game strengths and weaknesses, and share tips on how to use games to help students reach their educational goals.</p>
<p>
	The <strong>Science Game Center</strong> will have</p>

<ul>
<li>
	a curated List of Science Games searchable by platform and by curated list of concepts</li>
<li>
	public reviews for each game with 5 star ratings for Fun, Science, and Teaching Effectiveness</li>
<li>
	ability to search for reviews by Teachers, Scientists, or by age of reviewer</li>
<li>
	long form authoritative discussion by SGC expert, teacher and scientist for each game</li>
</ul>
<br />
<h2>
	How it works</h2>
<p>
	Any <strong>Science Game Center</strong> user <%= link_to 'can write an "Amazon style" review, with three 5-point ratings for Fun, Learning, and Science', review_path %>.  Additionally, the SGC team will vet teachers and scientists and provide them appropriate user profiles.  Students under 13, with their parent&rsquo;s permission, can review games, too.  All reviews will be searchable by age of the reviewer, and by reviewers&rsquo; area of expertise.  A central location for information on many games and with many types of reviewers, the <strong>Science Game Center</strong> will also increase the audience for each game.  A 5<sup>th</sup> grade teacher can find a game that is intended for AP biology students, reported by scientists to teach basic cell biology, has been used by other 5<sup>th</sup> grade teachers, and favorably reviewed by 5<sup>th</sup> grade players. </p>
<br />
<h2>
	Analysis and Critical Review</h2>
<p>
	FAS Learning Technologies intends to build the <strong>Science Game Center</strong> into a center for analysis of learning games.  Each game&rsquo;s page will have three longer, authoritative reviews: one each by the SGC team, a teacher and a scientist in the field.  FAS Learning Technologies, collaborating teachers and scientists will write reviews of games in each field, drawing on the information we collect through discussion with experts gathered at meetings held by FAS Learning Technologies.  The <strong>Science Game Center</strong> will provide critical analyses of game functionality, something the learning technology field is missing.  Good reviews and helpful analyses by FAS Learning Technologies and collaborators can be added to the evaluation section of grant reports.  Rewarding developers for high quality games will raise awareness and appreciation for quality learning games.</p>

<hr />

<p>The <strong>Science Game Center</strong> is brought to you by Molecular Jig Games and several volunteers.  If you would like to volunteer, please <%= link_to "contact us", contact_path %>. We also accept advertising for science-related ads. Contact <a href="mailto:admins@sciencegameceter.org">admins@sciencegameceter.org</a>.</p>
