<% provide(:title, 'About') %>

<h1 class="left">About the Science Game Center</h1>
<p><%= link_to "The Federation of American Scientists", "http://www.fas.org/" %> and the <%= link_to "FAS Learning Technologies Program", "http://www.fas.org/blog/learningtech/" %> introduce the Science Game Center, where video games
that teach science and math to 10 year olds through adults are reviewed by teachers, scientists and
FAS. Short reviews and 5 star ratings by the public will also be available.

<p>Science-related games as diverse as <i>Minesweeper</i> and <i>You Make Me Sick</i> will be evaluated by
FAS experts, teachers and scientists. Reviews will evaluate games based on quality of game play, accuracy of
the science presented, and the pros and cons of presenting the science topic with this game.

<p>FAS has 10 years of experience in the learning games field. As an independent, non-profit think tank,
FAS provides a fair, scientific analysis of games and learning. We were first to hold a conference
where scientists, industry experts and educators debated the best ways to bring technology into
the classroom and job training sites. Our research was the guide to Congress as they built the
Digital Promise, the new grant making entity that will support research on the most effective use of
technology to educate and train.

<p>FAS is a leading producer of learning games. Our titles, <i>Immune Attack</i> and <i>Discover Babylon</i> are
both three dimensional, immersive games that require problem solving using real proteins (<i><%= link_to "Immune
Attack", "http://www.immuneattack.org/" %></i>) or real ancient artifacts (<i><%= link_to "Discover Babylon", "http://www.discoverbabylon.org/" %></i>).
