<% provide(:title, 'Contact Us') %>

<h1 class="left">Contact Us</h1>
<h3>Are you a teacher or scientist who'd like to write an Expert Review for us? A developer with a game you'd like us to feature? Do you have another comment, question, or suggestion?</h3>
<p>Email the team at <b><a href="mailto:sciencegamecenter@fas.org">sciencegamecenter@fas.org</a></b>, or contact</p>
<p><b><%= link_to "Dr. Melanie Stegman", "http://www.fas.org/press/experts/stegman.html" %></b><br />
	Director of the FAS Learning Technologies Program<br />
	Email: <a href="mailto:mstegman@fas.org">mstegman@fas.org</a><br />
	Phone: <a href="tel:+12025463300">202-546-3300</a>
</p>
<p>We look forward to hearing from you!</p>
