<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>Please contact <a href="mailto:sciencegamecenter@fas.org">sciencegamecenter@fas.org</a> with any questions or comments. We look forward to hearing from you!</p>
