<% provide(:title, 'Contact') %>

<h1 class="left">Contact the Science Game Center Team</h1>
<p>Please email <a href="mailto:sciencegamecenter@fas.org">sciencegamecenter@fas.org</a> with any questions or comments, or call FAS Learning Technologies program director <%= link_to "Melanie Stegman", "http://www.fas.org/press/experts/stegman.html" %> at 202-546-3300. We look forward to hearing from you!</p>
