<% provide(:title, 'Video games that teach science') %>

<div class="blog_posts" style="margin-top: -10px;">
  <%= render partial: 'blog_posts/pinned_and_unpinned_posts' %>
</div>

<%= will_paginate(@blog_posts, params: { controller: :blog_posts, action: :index }) %>

<% if admin? %>
  <p><%= link_to "New blog post", new_blog_post_path, class: 'btn btn-info'  %></p>
  <br />
<% end %>
