<% provide(:title, 'Helping to bring science games to the classroom') %>

<div class="center hero-unit">
	<h2>Welcome to the</h2>
  <h1>Science Game Center</h1>

  <h3>
    Helping to bring science games to the classroom, one review at a time
  </h3>
  <br />
  <%= link_to "See the games!", games_path, class: "btn btn-large btn-primary" %>

  <br />
			  <p style="margin: 40px 20% 0 20%; color: #999;">The <b>Science Game Center</b> aims to be a definitive source of information about video games
that teach science and math to people aged 10 to 110. <%= link_to "Learn more.", about_path %></p>
</div>