<% provide(:title, 'Helping to bring science games to the classroom') %>

<div class="center hero-unit">
  <h1>Science Game Reviews</h1>

  <h3>
    Helping to bring science games to the classroom, one review at a time
  </h3>

  <%= link_to "Start reading reviews!", '#', class: "btn btn-large btn-primary" %>
</div>