<% provide(:title, 'Science Game Jam') %>

<h1 class="left">
  <%= image_tag "jam-2022-logo.png", alt: "Science Game Jam - September 10-18, 2022", style: "max-width: 90%; margin: -10px -20px;" %>
</h1>

<p>
  Register here: <a href="https://forms.gle/JbBhXRkBkt5jAkPK6">Science Game Jam Sign Up</a>
</p>

<p>
  Scientists dream of worlds too big, too small, or too complex to explain. During Science Game Jam, game developers will rise to the challenge of creating games in those worlds, in collaboration with scientists.
</p>

<p>
  Science Game Jam is 9 days of guided interaction between scientists and a team of game developers (designers, programmers, artists, writers, sound designers). Science Game Jam differs from most game jams in two ways. First, we are pairing experienced game jammers with scientists who are post doctorate level or higher.  Second, the jam has a required schedule and a suggested game design process. These differences are designed to spur novel game mechanics out of natural world phenomena.
</p>

<h2>
  Why is it happening?
</h2>

<p>
  Doing science is fun, even though learning science can be overwhelming. Games make learning fun, but game development can be overwhelming! Science Game Jam is a workshop where game developers learn how to make more exciting games about science and where scientists learn the game development process. Through games, players have learned how to eradicate a zombie horde many times over, but few have been taught how the body kills a virus. Science Game Jam is our experiment to mix these disparate elements with aims to create novel and compelling games that take place in this universe.
<p>

<h2>
  Where is the jam?
</h2>

<p>
  Science Game Jam is held entirely online through a moderated <a href="https://discord.gg/D52S6KQ6au">Discord server called Science Game Jam</a> for participants. Upon completion of the jam, games will be listed on ScienceGamesCenter.org for all to play, rate, and enjoy.  To ensure your game is found, use #SGJ22 when hosting it on itch.io or your preferred hosting solution.  Winners will be determined by searching #SGJ22 on ScienceGamesCenter.org and sorting by highest rank.
<p>

<h2>
  When will I need to be online?
</h2>

<p>
  All scientists and game developers must attend the meetings in the image below.  Only prolonged interaction of scientists and game developer teams will allow the iterative development process required to design an engaging experience.  Additionally, you must playtest and watch others playtest to be sure that what you and you team managed to create does not seem to impart any misconceptions. Participants and playtesters are especially encouraged to attend the Saturday playtesting session!
</p>

<figure style="margin-left: 0; margin-right: 0;">
  <%= image_tag "jam-2022-calendar.png", alt: "A calendar showing the same dates listed below.", style: "max-width: 500px; width: 100%;" %>
  <figcaption>Fig. 1. Scientists and teammates must agree to attend these sessions.</figcaption>
</figure>

<p>
  Science Game Jam will run from 10 September 1:00 PM EDT, 2022 to 18 September 6:00 PM EDT, 2022.  Scientists and Developers are required to attend (All times are Washington, DC times):
</p>

<ul>
  <li>Saturday 9/10, 1pm - 7pm</li>
  <li>Monday 9/12, 6-7pm</li>
  <li>Wednesday 9/14, 6-7pm</li>
  <li>Saturday 9/17, 1pm - 4pm</li>
</ul>

<p>
  Sunday is the deadline to get your game listed on <a href="https://sciencegamecenter.org">ScienceGameCenter.org</a>.  Listed games will need a link to where they can be played online, or downloaded and played.  We suggest <a href="https://itch.io/">Itch.io</a> as a lovely indie game site to host your game.  We welcome board games as printable downloads as well!  Use #SGJ2022 everywhere.
</p>

<h2>
  Who&rsquo;s organizing it?
</h2>

<p>
  The jam is being organized by the <a href="https://www.facebook.com/groups/115048675174689">Washington, DC chapter of the International Game Developer Association (IGDA</a>), which is composed of a diverse selection of game developers.
  <br /><br />
  Contact person: <a href="https://www.sciencegamecenter.org/contact">Melanie Stegman, Ph.D.</a>
</p>

<h2>
  FAQ
</h2>

<p>
  Check out our Q&amp;A <a href="https://docs.google.com/document/d/15rZXnTBLIzTStpxD6Dw7RBd-QCq3PdbPF02iMnD-wGY/edit?usp=sharing">here</a>.
</p>

<br /><br />

<style>
  h2 {
    margin-top: 2rem;
  }
</style>
