<% provide(:title, 'Privacy') %>

<h1>Privacy</h1>
<p>The Science Game Center collects your personal information such as your email addresses only to enhance your experience using the site and to ensure the quality of its content. We may also occasionally email you with news about the site and science games, which you are free to opt out of at any time. Your information will not be used for any other purpose, and we will not share it with any third parties without your consent.</p>
<p>Please direct any questions to <a href="mailto:sciencegamecenter@fas.org">sciencegamereviews@fas.org</a> or the <a href="http://www.fas.org/">Federation of American Scientists</a> at 202-546-3300.
