<% provide(:title, "Reset password") %>
<h1>Reset password</h1>

<div class="row">
  <div class="span6 offset2">
    <%= form_tag password_resets_path, :method => :post do %>

		    <%= label_tag :email %>
		    <%= text_field_tag :email, params[:email] %>
		    <p class="form-help">Enter the email address associated with your account.</p>

		  <div class="actions"><%= submit_tag "Send Reset Link", :class => "btn btn-large btn-primary" %></div>
		<% end %>
  </div>
</div>