<%= provide(:title, 'Platforms') %>
<h1 class="left">Platforms</h1>

<p>Click a platform name below to see all games available for that platform.</p>

<ul class="taggings">
	<% @tags.each do |t| %>
	<li><%= link_to t.name, games_path(platform: t.name) %></li>
	<% end %>
</ul>

