<li class="user">

  <%= gravatar_for user, :size => 52 %>
  <%= link_to user.name, user %>

  <br />
	<%= user.roles %>
	<% if user.disabled? %> (Disabled)<% end %>

  <% if signed_in? && current_user.is_admin? %>
  	<br /><%= render 'users/admin_tools', user: user %>
  <% end %>

</li>