<li class="user">
  <% if signed_in? && current_user.is_admin? %>
  	<%= render 'users/admin_tools', user: user %>
  <% end %>

  <%= gravatar_for user, :size => 52 %>
  <%= link_to user.name, user %>

  <br />
	<% if user.is_admin? %>
	Administrator
	<% else %>
	Player
	<% end %>
	<% if user.disabled? %> (Disabled)<% end %>
</li>