<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>
      	<% if @user.is_admin? %>
      	Administrator
      	<% else %>
      	Player
      	<% end %>
      </p>
    </section>
  </aside>
</div>