<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>

    <%= link_to("DO IT", resend_parent_email_user_path(User.find(params[:id])), method: :post) if Rails.env.development? %>
  </aside>
</div>