<p class="admin_tools">
	<%= link_to "Edit game", edit_game_path(game) %>, 
	<%= link_to "Delete game", game, method: :delete, confirm: "Are you sure you want to destroy this game now and for the rest of time, with no going back?" %>
</p>