<li class="row">
	<div class="game span10">
		<div class="row">
			<div class="span2">
				<%= link_to image_tag(game.boxart.url(:medium), class: :boxart), game %>
			</div>
			<div class="span8">
			  <p class="title"><i><%= link_to game.title, game %></i></p>
			  <%= render 'games/game_info', game: game, hide_title: true %>
			</div>
		</div>
	</div>
</li>