<li class="row">
	<div class="game span10">
		<div class="row">
			<div class="span5 boxart">
				<%= link_to game, style: "background-image: url('#{game.boxart.url(:large)}');" do %>
					&nbsp;
				<% end %>
			</div>
			<div class="span5">
			  <p class="title"><i><%= link_to game.title, game %></i></p>
			  	<% if admin? && game.disabled? %>
						<div class="alert">
							<strong>Disabled.</strong> This game is hidden from public view. Edit it to enable.
						</div>
					<% end %>
			  <%= render 'games/game_info_condensed', game: game, hide_title: true %>
				<small><%= link_to "View this game's profile", game, class: 'btn', style: 'margin: 5px; margin-left: 0; font-weight: normal;' %></small>
			</div>
		</div>
	</div>
</li>
