<div class="row" id="scorecard"><div class="span12">

<h2>Scorecards</h2>

<div class="row">

<div class="span4"><table class="table table-bordered">
<thead>
<tr>
	<th colspan="2">Authoritative Review</th>
	<th>15</th>
</tr>
</thead>
<tbody>
<tr>
	<td width="50px">Fun?</td>
	<td width="*%">
		<div class="progress progress-success">
			<div class="bar" style="width: 5 * 20 %>%;"></div>
		</div>
	</td>
	<td width="30px">
		5
	</td>
</tr>
<tr>
	<td>Accurate?</td>
	<td width="*%">
		<div class="progress progress-success">
			<div class="bar" style="width: 5 * 20 %>%;"></div>
		</div>
	</td>
	<td>
		5
	</td>
</tr>
<tr>
	<td>Effective?</td>
	<td width="*%">
		<div class="progress progress-success">
			<div class="bar" style="width: 5 * 20 %>%;"></div>
		</div>
	</td>
	<td>
		5
	</td>
</tr>
</tbody>
</table></div>

<div class="span4"><table class="table table-bordered">
<thead>
<tr>
	<th colspan="2">Expert Reviews</th>
	<th>15</th>
</tr>
</thead>
<tbody>
<tr>
	<td width="50px">Fun?</td>
	<td width="*%">
		<div class="progress progress-success">
			<div class="bar" style="width: 5 * 20 %>%;"></div>
		</div>
	</td>
	<td width="30px">
		5
	</td>
</tr>
<tr>
	<td>Accurate?</td>
	<td width="*%">
		<div class="progress progress-success">
			<div class="bar" style="width: 5 * 20 %>%;"></div>
		</div>
	</td>
	<td>
		5
	</td>
</tr>
<tr>
	<td>Effective?</td>
	<td width="*%">
		<div class="progress progress-success">
			<div class="bar" style="width: 5 * 20 %>%;"></div>
		</div>
	</td>
	<td>
		5
	</td>
</tr>
</tbody>
</table></div>

<div class="span4"><table class="table table-bordered">
<thead>
<tr>
	<th colspan="2">Player Reviews</th>
	<th>15</th>
</tr>
</thead>
<tbody>
<tr>
	<td width="50px">Fun?</td>
	<td width="*%">
		<div class="progress progress-success">
			<div class="bar" style="width: 5 * 20 %>%;"></div>
		</div>
	</td>
	<td width="30px">
		5
	</td>
</tr>
<tr>
	<td>Accurate?</td>
	<td width="*%">
		<div class="progress progress-success">
			<div class="bar" style="width: 5 * 20 %>%;"></div>
		</div>
	</td>
	<td>
		5
	</td>
</tr>
<tr>
	<td>Effective?</td>
	<td width="*%">
		<div class="progress progress-success">
			<div class="bar" style="width: 5 * 20 %>%;"></div>
		</div>
	</td>
	<td>
		5
	</td>
</tr>
</tbody>
</table></div>

</div>

</div></div>