<% if @game.youtube_video_url.present? %>
  <hr />
  <div class="video_wrapper">
    <h2>Video of <i><%= @game.title %></i></h2>

    <div class="embed-container">
      <%= youtube_embed_iframe(@game.youtube_video_url) %>
    </div>
  </div>
<% end %>
