<%= provide(:title, @game.title) %>
<h1><%= @game.title %></h1>

<% if signed_in? && current_user.is_admin? %>
<%= render 'games/admin_tools', game: @game %>
<% end %>

<p class="topics info_line">Topics: <a href="#">Biology</a>, <a href="#">Chemistry</a>, <a href="#">Immunology</a></p>
<p class="platforms info_line">Available on: <a href="#">PC (Windows)</a>, <a href="#">Game Boy</a></p>
<br />
<div class="description">
	<%= markdown @game.description %>
</div>