<%= provide(:title, 'Subjects') %>
<h1 class="left">Subjects</h1>

<p>Click a subject name below to see all games that cover that subject.</p>

<ul class="taggings">
	<% @tags.each do |t| %>
	<li><%= link_to capitalize_first(t.name), games_path(subject: t.name) %></li>
	<% end %>
</ul>

