@import "bootstrap";
@import "bootstrap-responsive-custom";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  /* padding-top: 60px; */
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}
h1.center {
  margin-bottom: 10px;
}

.navbar-inner .container {
  max-width: 940px;
}

img.shot {
  @include box-shadow(3px 3px 3px #aaa);
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;

  &.left {
    text-align: left;
  }
}

h2 {
  margin-bottom: 15px;
}

h3 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: normal;
  color: $grayLight;
  a {
    color: $grayLight;
  }
}

h4 {
  margin-bottom: 5px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

small {
  font-size: 90%;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: right; 
  }
  ul {
    float: left;
    list-style: none;
    margin-left: 0;
    li {
      float: left;
      margin-right: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 0;
  @include box_sizing;
}

input[type=checkbox] {
  float: left;
  margin-right: 5px;
}

.date select {
  width: 32.7%;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.form-description {
  margin-bottom: 20px;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.form-help, .subtle {
  color: $grayLight;
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 15px;
  font-style: italic;
}
#submit-help {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li.user {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter
    }
  }
}

/* games */

ul.games {
  list-style: none;
  margin: 0;
  color: $gray;
  .game {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter
    }
    &:hover {
      background-color: $grayLighter;
    }

    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
      a {
        color: $gray;
        &:hover {
          color: $blue;
        }
      }
    }
    img.boxart {
      width: 100%;
    }
  }
}

img.boxart {
  width: 100%;
  margin-bottom: 10px;
}

.info_line {
  color: $gray;
  margin-bottom: 5px;
}

table.game_info {
  td.info-key {
    font-weight: bold;
    width: 100px;
  }
  margin-bottom: 5px;
}

.game-info {
  background: $grayLighter;
  padding: 10px 0;
  @include border-radius(5px);
  @media (max-width: 767px) {
    margin-bottom: 20px !important;
  }
}

.screenshots {
  .screenshot {
    img {
      margin: 0;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
.screenshots_wrapper {
  hr {
    clear: both;
  }
}
.next_previous_links {
  font-size: 21px;
  .next {
    float: right;
  }
}

/* admin tools */
.admin_tools {
  margin-top: -10px;
  font-style: italic;
}

/* scorecards */
#scorecards {
  th {
    font-weight: normal;
    vertical-align: top;
  }

  .score_total_cell {
    text-align: right;
    vertical-align: middle;
  }

  .score_total {
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
  }
  .percent_sign {
    font-size: 30px;
  }
  div.progress {
    margin: 0;
  }
}

/* reviews */
.individual_score_label {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.individual_score {
  font-size: 24px;
  font-weight: bold;
}

.rating_input {
  font-size: 40px;
  width: 100px;
}

/* subjects and platforms indices */

.taggings {
  list-style: none;
  margin: 0;
  li {
    a {
      display: block;
      overflow: auto;
      padding: 10px;
      border-top: 1px solid $grayLighter;
      &:hover {
        background: #fffeee;
      }
    }
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* top ad banners */
#top_banners_wrapper, {
  background: black url(image_path('top_background.png')) repeat center;

  img {
    width: 100%;
  }
}

/* carousel */
.carousel {
  a {
      color: #ccc;
  }
  .title {
    font-size: 1.7em;
    letter-spacing: -1px;
    font-weight: bold;
    color: white;
    line-height: 1.2;
    margin: 5px 0;
    
    a {
      color: white;
    }
    .prefix {
      font-weight: normal;
      color: $grayLighter;
    }
  }
  .description {
    color: $grayLight;
  }
}

/* comments */
.comment_user {
  color: $grayLight;
}
.comment_count {
  color: $grayLight;
}



/* tweaks to default */
.navbar-inner {
  @include border-radius(0px);
}
.alert {
  font-size: 18px;
}
.hero-unit {
  h2 {
    color: $grayLight;
    margin-bottom: 0;
    font-weight: normal;
  }
  margin-bottom: 0;
}
.btn-large {
  font-size: 18px;
}
.navbar .btn-navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar .brand {
  max-width: 70%;
  margin-bottom: 8px;
}

/* print styles */
@media print {
  .boxart {
    max-width: 25% !important;
    float: left !important;
    margin-right: 20px;
  }
  .screenshot {
    width: 45% !important;
    display: inline-block !important;
    margin-right: 3% !important;
    img {
      display: inline-block;
    }
  }

  /* stolen from html5 boilerplate */
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after, a[href^="/"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* Fix AddThis popup box sizing */
  #at3win #at3wincontent {
    height: 460px;
  }
  #at3winshare, #at3wincopy, #at3winemail {
    height: 460px;
  }