<h1 class="left">Screenshots of <i><%= @game.title %></i></h1>

<% @screenshots.each do |s| %>
	<div>
		<p><%= image_tag s.image.url(:medium), style: "width: 100%;" %></p>
		<p><b><%= link_to "Edit screenshot", edit_screenshot_path(s) %></b></p>
	</div>
	<hr />
<% end %>

<p><br /><%= link_to "Upload a new screenshot", new_game_screenshot_path %></p>
