<!--[if lte IE 6]>
<div class="alert alert-error">
  <b>Be aware:</b> The Science Game Center, like most modern web sites, does not support your outdated version of Internet Explorer. Please <%= link_to 'update your browser', 'http://windows.microsoft.com/en-US/internet-explorer/downloads/ie' %> or <%= link_to 'get Chrome Frame', 'http://www.google.com/chromeframe' %> to improve your experience here and elsewhere.
  <a class='close' data-dismiss='alert' href='#'>&times;</a>
</div>
<![endif]-->