<!--[if lte IE 6]>
<div class="alert alert-error">
  <b>Be aware:</b> The Science Game Center does not support your version of Internet Explorer.<br />
  	Please <%= link_to 'update your browser', 'http://browsehappy.com/' %> or <%= link_to 'get Chrome Frame', 'http://www.google.com/chromeframe' %>.
  <a class='close' data-dismiss='alert' href='#'>&times;</a>
</div>
<![endif]-->