        <hr class="hidden-desktop" />
        <div class="span2" id="side_ads_container">
          <h3>SGC Sponsors</h3>
          <% 3.times do %>
          <%= link_to image_tag('side_banner_advertise.png', height: 140, width: 140, style: "margin-bottom: 10px;"), contact_path %>
          <% end %>
        </div>