
          <% unless signed_in? %>
          <p>
            <%= link_to "Sign up!", signup_path, class: 'btn btn-large btn-success', style: 'width: 110px;' %>
             or <%= link_to 'Log in', login_path %> to post now.
          </p>
          <% end %>

          <h3>SGC Sponsor</h3>
          <%= tracked_link_to image_tag('cell_image_library-140.png', height: 140, width: 140, style: "margin-bottom: 10px;" , alt: 'The CELL: an image library'), 'http://www.cellimagelibrary.org/', target: '_blank'  %>

          <br /><br />
          <%= link_to image_tag('dr-mascot-tabletop-ad.png', height: 140, width: 140, style: "margin-bottom: 10px;" , alt: 'Dr. Meeple says, "We have tabletop games, too!"'), '/games?platform=Tabletop' %>
