<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://fas.us6.list-manage2.com/subscribe/post?u=31dd5a920de1620070c1717f0&amp;id=4c21bebe8e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@there.com">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	<div class="clear"><input type="submit" value="Subscribe!" name="subscribe" id="mc-embedded-subscribe" class="btn" style="width: 100%; margin-top: 5px;"></div>
</form>
</div>
<!--End mc_embed_signup-->