<form action="https://members.fas.org/civicrm/profile/create?gid=27&amp;reset=1" method="post" name="Edit" id="Edit">
	<div>
		<input name="postURL" type="hidden" value="http://prelaunch.sciencegamecenter.org/?result=success"/>
		<input name="cancelURL" type="hidden" value="http://prelaunch.sciencegamecenter.org/?result=failed"/>
		<input name="add_to_group" type="hidden" value="36"/>
		<input name="_qf_default" type="hidden" value="Edit:cancel"/>
	</div>
	<script type="text/javascript" src="https://members.fas.org/sites/all/modules/civicrm/js/Common.js"></script>
	<div id="crm-container" lang="en" xml:lang="en">
		<div class="form-layout-compressed">
			<div id="editrow-email-Primary" class="crm-section editrow_email-Primary-section form-item">
				<div class="edit-value content">
					<input maxlength="64" size="30" name="email-Primary" type="email" id="email-Primary" required placeholder="Email address" style="width: 100%; max-width: 280px; margin: 0; margin-bottom: 5px; font-size: 18px; line-height: 1" class="form-text big required"/>
					<input class="form-submit default btn" style="width: 100%;" accesskey="S" name="_qf_Edit_next" value="Subscribe!" type="submit" id="_qf_Edit_next"/>
				</div>
			</div>
		</div>
		<!-- end form-layout-compressed for last profile -->
		<div class="crm-submit-buttons">
			
		</div>
	</div>
</form>
