<div id="top_banners_wrapper" style="background: #4C4C4C;">
	<div class="container" id="top_banners">
		<div class="row">
			<div class="span9" id="leading_banner">
				<img src="http://placehold.it/700x90" />
			</div>
			<div class="span3" id="top_corner_banner">
				<%= link_to image_tag('fas_corner_banner.png'), 'http://www.fas.org/' %>
			</div>
		</div>
	</div>
</div>