<div id="top_banners_wrapper">
	<div class="container" id="top_banners">
		<div class="row">
			<div class="span9" id="leading_banner">
				<div style="height: 30px;">&nbsp;</div>
				<%#= link_to image_tag('top_banner_advertise.png', height: '90', width: '700', alt: ''), contact_path %>
			</div>
			<div class="span3" id="top_corner_banner">
				<%#= tracked_link_to image_tag('fas_corner_banner.png', alt: "Federation of American Scientists", title: "Brought to you by the Federation of American Scientists"), 'http://www.fas.org/', class: "hidden-phone" %>
			</div>
		</div>
	</div>
</div>
